# **Do you Remember the First Step**
Saving the file using Save a copy in Drive and Changing the name of your file. From "Student Version Week4_Groupby_Cross_Tab" to "Tayyab_Week4_Groupby_Cross_Tab ( Tayyab is just a sample name, you should use your name.

In [ ]:
# Week 4 Lab Activities - Data Analysis with Python

import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from scipy.stats import zscore
from scipy.stats.mstats import winsorize

In [ ]:
# Titanic Dataset Exploration and Analysis - Lab Activities

# Introduction

# Dataset Overview: The Titanic dataset contains information about passengers
# who were aboard the Titanic when it sank in 1912. The dataset includes
# details such as passenger class, age, sex, fare, and survival status.

# Objectives:
# - Explore the data using descriptive statistics and visualizations.
# - Identify and handle missing values.
# - Check for and remove duplicate data.
# - Perform groupby operations and aggregation to analyze survival patterns.
# - Use pivot tables for multi-dimensional analysis.
# - Handle missing values in pivot tables.
# - Apply cross-tabulation for categorical analysis.
# - Analyze top survivors and other factors related to survival.

# **Question: What if we do not import pandas or numpy ?**

In [ ]:
#Colab comes with pre-installed commonly used libraries. However we may have to insall certain functions

# **You installed package using !pip. How long it is avaiable in the Colab**

# **Activity 1: Loading and inspecting data**

---

In [ ]:



# Load the dataset
#Method1
file_path = ()
#titanic_df = pd.read_csv(file_path)



# Method 2 Load the dataset
titanic_df = pd.read_csv( )

# Display first few rows



# Display last few rows


# Get the dimensions of the dataset


# Get information about data types and missing values
titanic_df.info()

In [ ]:


# Get summary statistics for numerical columns
titanic_df.describe()

# Get summary statistics for categorical columns
titanic_df.describe(include=['object'])

**Key Takeaways**
Many passengers shared tickets and cabins, indicating group travel.
Most passengers embarked from Southampton (S).
There are a lot of missing values in the Cabin column (only 204 non-null values).
Most passengers were male (577 out of 891).

#  Data set description
  PassengerId   A unique identifier assigned to each passenger.
  Survived Indicates whether the passenger survived (1) or not (0).
  Pclass  The passenger's class (1 = First Class, 2 = Second Class, 3 = Third Class).
  Name   The full name of the passenger.
  Sex  The gender of the passenger (male or female).
  Age   The age of the passenger. Some values are missing .
  SibSp   The number of siblings and spouses the passenger had aboard the Titanic.
  Parch   The number of parents and children the passenger had aboard the Titanic.
  Ticket  The ticket number assigned to the passenger.
  Fare   The fare amount paid by the passenger.
  Cabin  The cabin number assigned to the passenger.
  Embarked  The port where the passenger boarded the Titanic (C = Cherbourg, Q = Queenstown, S = Southampton).

# **Activity 2: Identifying and Handling Missing Values**

---

In [ ]:
# Activity 2: Identifying and Handling Missing Values

# Count missing values per column

In [ ]:
# Visualize missing data
import missingno as msno
msno.matrix(df)
plt.show()

In [ ]:
# Impute missing values for 'Age' with the median
median_age = titanic_df['Age'].median()
titanic_df['Age'].fillna(median_age, inplace=True)

#The distribution of Age in the Titanic dataset is not perfectly normal;
#it likely has a right skew due to outliers (e.g., very elderly passengers).
#The mean is sensitive to outliers, meaning a few extremely high or low ages could pull the mean up or down,
# making it less representative of the majority of passengers.
#The median, being the middle value, is not affected by extreme values,
# making it a better representation of central tendency in skewed data

In [ ]:
# Drop the 'Cabin' column due to many missing values
titanic_df.drop('Cabin', axis=1, inplace=True)

# Recheck for missing values
titanic_df.isnull().sum()

**Why are we dropping column instead of filling it with mean or mode?**

In [ ]:
#1. Too Many Missing Values (~77%)
#Since most of the values are missing, filling them with a single value (like "Unknown")
# would not add much useful information to the dataset.
#Imputing missing values with a median, mode, or predictive model would introduce
# too much guesswork and potential bias.
#2. Limited Predictive Value for Survival Analysis
# While first-class passengers were more likely to have recorded cabins,
#the actual cabin number may not strongly influence survival rates.
#The Pclass column (Passenger Class) already provides a similar distinction (First Class, Second Class, Third Class).
#3. High Cardinality and Complexity
#The Cabin column contains a mix of numbers and letters, making it categorical and high-cardinality (many unique values).
#Some passengers share cabins, but this information is not consistently recorded.
#4. Data Cleaning Simplicity
#Removing the Cabin column simplifies data preprocessing and improves model performance
#by avoiding unnecessary complexity

# **Activity 3: Checking and Fixing Duplicates**

---

In [ ]:
# Activity 3: Checking and Fixing Duplicates

titanic_df.shape  #check the shape before removing

In [ ]:
#Checking and Fixing Duplicates
# Count duplicate rows
titanic_df.duplicated().sum()

In [ ]:
# Remove duplicate rows (if any)
titanic_df.drop_duplicates(inplace=True)
titanic_df.shape  # Check the shape after removal

# **Activity 4: GroupBy and Aggregation**

---

In [ ]:
# Activity 4: GroupBy and Aggregation

# Survival rate by gender
survival_by_gender = titanic_df.groupby('Sex')['Survived'].mean()
print(survival_by_gender)

# Average age by passenger class
avg_age_by_class = titanic_df.groupby('Pclass')['Age'].mean()
print(avg_age_by_class)

**How do you interpret above output**

In [ ]:
#Survival Rate by Sex: 74.2% of females survived, while only 18.9% of males survived,
# indicating a strong survival advantage for women.
#Average Age by Pclass: First-class passengers had the highest average age (38.2 years),
# followed by second-class (29.9 years) and third-class (25.1 years),
# suggesting older individuals were more likely in higher classes

## **Student Challenge**

In [ ]:
# prompt: Create a small activity as student challenge based on the previous code cells

# Student Challenge: Data Exploration and Analysis

# Instructions:
# 1. Calculate the survival rate for each passenger class (Pclass).
# 2. Find the average fare paid by passengers in each embarkation port (Embarked).
#

# Write your code here:



# 1. Calculate survival rate for each passenger class


# Print survival_rate_by_class


# 2. Average fare by embarkation port
average_fare_by_port =

#print average_fare_by_port

In [ ]:


# Multiple aggregations
class_stats = titanic_df.groupby('Pclass').agg({'Age': ['mean', 'min', 'max'], 'Fare': ['mean']})
print(class_stats)

In [ ]:
#interpretation
#Age by Pclass: First-class passengers were the oldest on average (38.2 years), followed by second-class (29.9 years) and third-class (25.1 years), indicating older individuals tended to afford higher-class tickets.
#Fare by Pclass: First-class passengers paid the highest average fare ($84.15), while second-class paid significantly less ($20.66) and third-class the least ($13.68), reflecting the cost difference between ticket classes

# ** Activity 5: Multi-Level Grouping and Pivot Tables
---

In [ ]:
# Activity 5: Multi-Level Grouping and Pivot Tables

# Survival by gender and class
survival_by_gender_class = titanic_df.groupby(['Sex', 'Pclass'])['Survived'].mean()
print(survival_by_gender_class)

In [ ]:

# Pivot table - Average fare by class and embarked
fare_pivot = titanic_df.pivot_table(index='Pclass', columns='Embarked', values='Fare', aggfunc='mean')
print(fare_pivot)
#index='Pclass' means that the Pclass (Passenger Class) column is used as the row labels (index) of the table.
#This organizes the data so that each row corresponds to a different passenger class (1st, 2nd, or 3rd class).

**Is there any difference between the two outputs Groupby and Pivot?**

In [ ]:
#Gropuby : Output Format	Series (Hierarchical Index)	Pivot: DataFrame (Cross-tabulated)
#Gropuby :Best Used For	1D summary of grouped data		Pivot: 2D structured summary for easy comparison

# ** Activity 6: Handling Missing Values in Pivot Tables
**

---

In [ ]:
# Activity 6: Handling Missing Values in Pivot Tables

# Pivot table with fill_value
fare_pivot_filled = titanic_df.pivot_table(index='Pclass', columns='Embarked', values='Fare',
                                               aggfunc='mean', fill_value=0)
print(fare_pivot_filled)

# ** Activity 7: Multi-Level Grouping and Pivot Tables
**

---

In [ ]:
# Activity 7: Cross-Tabulation for Categorical Analysis

# Survival by gender and class (cross-tab)
survival_crosstab = pd.crosstab(titanic_df['Sex'], titanic_df['Pclass'],
                                     values=titanic_df['Survived'], aggfunc='mean')
print(survival_crosstab)


#aggfunc="mean" means that the function is calculating the average survival rate
#for each combination of Sex and Pclass.

**Interpretation of the output**

97% of first-class females survived, while only 13% of third-class males survived.
This shows a clear survival advantage for women and first-class passengers.

In [ ]:
# prompt: generate a heatmap based on the last code

import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Assuming 'titanic_df' is your DataFrame from the previous code
# If not, load your data here:
# titanic_df = pd.read_csv("your_file.csv")

# Example: Heatmap of survival rate by passenger class and sex
survival_heatmap = titanic_df.pivot_table(index='Pclass', columns='Sex', values='Survived', aggfunc='mean')

plt.figure(figsize=(8, 6))  # Adjust figure size as needed
sns.heatmap(survival_heatmap, annot=True, cmap='viridis', fmt=".2f") # annot=True displays values
plt.title('Survival Rate by Passenger Class and Sex')
plt.xlabel('Sex')
plt.ylabel('Passenger Class')
plt.show()

In [ ]:

# Example 2: Heatmap of Fare by Embarked and Pclass
fare_heatmap = titanic_df.pivot_table(index='Embarked', columns='Pclass', values='Fare', aggfunc='mean')

plt.figure(figsize=(8, 6))
sns.heatmap(fare_heatmap, annot=True, cmap='YlGnBu', fmt=".2f")
plt.title('Average Fare by Embarked and Pclass')
plt.xlabel('Passenger Class')
plt.ylabel('Embarked')
plt.show()

In [ ]:
#interpret the last heatmap

#The above  heatmap shows the average fare paid by passengers based on their port of embarkation (Embarked) and passenger class (Pclass).  The color intensity represents the average fare, with darker shades indicating higher average fares.

For example:

# Passengers who embarked at Cherbourg (C)** generally paid higher fares, especially in first class.
#Passengers in first class (Pclass = 1)** paid the highest average fares regardless of the port of embarkation.
#Passengers in third class (Pclass = 3)** paid the lowest average fares across all ports.

#The heatmap provides a visual summary of how fare amounts vary across these two categorical variables, allowing for quick identification of trends and patterns.

In [ ]:
# Percentage-based cross-tabulation
survival_crosstab_percent = pd.crosstab(titanic_df['Sex'], titanic_df['Pclass'],
                                           values=titanic_df['Survived'], aggfunc='mean', normalize='index') * 100
print(survival_crosstab_percent)

#normalize='index' converts the values into percentages within each row,
#making it easier to compare survival rates across passenger classes for each gender.
#It scales the values so that each row sums to 100%, meaning it shows the distribution
#of survival rates within each gender.

# ** Activity 8: Multi-Level Grouping and Pivot Tables
**

---

In [ ]:
# Activity 8: Top Survivors and Similar Analysis

# Top survivors by age
top_survivors_age = titanic_df[titanic_df['Survived'] == 1].sort_values('Age', ascending=False).head(10)
print(top_survivors_age[['Name', 'Age', 'Sex', 'Pclass']])

In [ ]:
# Survival rate by family size
titanic_df['FamilySize'] = titanic_df['SibSp'] + titanic_df['Parch'] + 1
survival_by_family = titanic_df.groupby('FamilySize')['Survived'].mean()
print(survival_by_family)

import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
# Calculate survival rate by passenger class
survival_rate_by_class = titanic_df.groupby('Pclass')['Survived'].mean()

# Create a bar chart
plt.figure(figsize=(8, 6))
sns.barplot(x=survival_rate_by_class.index, y=survival_rate_by_class.values)
plt.title('Survival Rate by Passenger Class')
plt.xlabel('Passenger Class')
plt.ylabel('Survival Rate')
plt.xticks(survival_rate_by_class.index, ['1st Class', '2nd Class', '3rd Class'])  # Customize x-axis labels
plt.show()

# Conclusion

# Recap: We explored the Titanic dataset, handled missing values, performed groupby
# operations, used pivot tables, and analyzed survival patterns based on various factors.

# Discussion: The analysis revealed insights into the demographics of survivors and
# the factors that influenced survival, such as gender, passenger class, and family size.

# Further Exploration: Students can further explore the dataset by creating visualizations,
# investigating other factors related to survival, and applying more advanced analytical techniques.

In [ ]:

print("\nLab Completed Successfully!")

# **Activity 9: Exporting Data and Saving a new file**

In [ ]:
#Save the cleaned dataset to a new CSV file.
df.to_csv("Cleaned_StudentAdmission_data.csv", index=False)
#Important: This command will create a new data set that would appear on left handside
# You can download that file for your record.

In [ ]:
# !pip install --upgrade visions --use-deprecated=legacy-resolver
#!pip uninstall pandas-profiling -y
!pip install visions==0.7.6 --use-deprecated=legacy-resolver

!pip install --upgrade numba --use-deprecated=legacy-resolver
# !pip install --upgrade pandas-profiling --use-deprecated=legacy-resolver
!pip install ydata-profiling --use-deprecated=legacy-resolver

In [ ]:
from ydata_profiling import ProfileReport

profile = ProfileReport(df, title="Pandas Profiling Report") #df is your dataframe
profile.to_notebook_iframe() #To show the report inline in the notebook
#profile.to_file("your_report.html") #To save the report as an HTML file

### **Home Work**

In [ ]:


# Homework Activities: Titanic Dataset Analysis

# Instructions: Use the Titanic dataset (Titanic-Dataset.csv) to complete the following activities.
# You should use groupby, pivot_table, or similar methods for analysis.

# Activity 1: Survival Rate by Embarkation Point and Gender
# Calculate and display the survival rate for each combination of embarkation point (Embarked) and gender (Sex).

# Activity 2: Average Fare by Passenger Class and Age Group
# Create age groups (e.g., 0-10, 11-20, 21-30, etc.).
# Calculate and display the average fare for each passenger class (Pclass) within each age group.

# Activity 3: Survival Rate by Family Size and Passenger Class
# Create a new column called 'FamilySize' representing the total size of each family (SibSp + Parch + 1).
# Analyze the survival rate for each passenger class (Pclass) grouped by family size.

# Activity 4: Visualizing Survival Rate by Age and Passenger Class
# Create a visualization (e.g., a heatmap) showing the survival rate for different age groups (as in Activity 2) and passenger classes.

# Activity 5:  Advanced Pivot Table Analysis: Survival Rate, Fare, and Age
# Construct a pivot table that simultaneously presents:
#   - The average survival rate
#   - The median fare
#   - The average age
# Grouped by 'Pclass' and 'Sex'.
# Handle potential missing values in the pivot table.

# Bonus Activity: Investigate the relationship between survival rate, fare, and age, considering both gender and passenger class. Visualize your findings effectively.

# Dataset path (replace with your actual path)
file_path = "/content/Titanic-Dataset.csv"
titanic_df = pd.read_csv(file_path)